# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm project settings
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
